@media (min-aspect-ratio: 1/1) {  /*desktop layouts*/
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
    }
    header nav { 
        grid-column: 1;
    }
    header h1 {
        grid-column: 2;
    }
    header .contact {
        grid-column: 3;
    }
    .about,
    .gallery,
    .mywork {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em;
    }
}
@media (max-aspect-ratio: 1/1) { /*Mobile Layouts*/
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }
    header nav { 
        grid-row: 3;
    }
    header h1 {
        grid-row: 1;
    }
    header .contact {
        grid-row: 2;
    }
}