@media (min-aspect-ratio: 1/1) {  /*desktop layouts*/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    header nav { 
        grid-column: 1;
    }
    header h1 {
        grid-column: 2;
    }
    header .contact {
        grid-column: 3;
    }
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
@media (max-aspect-ratio: 1/1) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    header nav { 
        grid-row: 3;
    }
    header h1 {
        grid-row: 1;
    }
    header .contact {
        grid-row: 2;
    }
    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}