/* Default light theme */
body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background: linear-gradient(0deg, lightskyblue, lightgreen, lightskyblue, lightgreen, lightskyblue);
    background-size: 200% 200%; /* Allows for a smoother transition */
    animation: navgradientAnimation 6s infinite linear;
    margin: 0;
    padding: 10px;
}

@keyframes navgradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

li a {
    text-decoration: none;
    color: black
}
.nav-contact, .navbar {
    list-style-type: none;
}


/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar {
    background: linear-gradient(90deg, midnightblue, darkgreen, midnightblue, darkgreen, midnightblue);
    background-size: 200% 200%; /* Allows for a smoother transition */
    animation: navgradientAnimation 6s infinite linear;

}
body.dark-mode li a {
    color: white;
}
