/* Default light theme */
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    transition: 0.3s;
    width: 100%;
}
h2, h3, p, li{
    margin-left: 10px;
    font-family: "Tomorrow", sans-serif;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
p, li {
    font-size: larger;
}
h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-top: 0;
  }
.intro {
    font-family: "Give You Glory", cursive;
    font-size: 0.5em;
    text-align: left;
    font-weight: bold;
    color: black;
    max-width: 4em;
    transition: 0.3s;
}
header, footer {
    background: linear-gradient(90deg, lightskyblue, lightgreen, lightskyblue, lightgreen, lightskyblue);
    background-size: 200% 200%; /* Allows for a smoother transition */
    animation: gradientAnimation 8s infinite linear;
    margin: 0;
    padding: 10px;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
nav ul, .contact {
    list-style-type: none;
    font-family: "Tomorrow", sans-serif;
    margin-top: 0;
    padding: 0;
}
nav li, nav li a {
    font-size: 20px;
    padding: 4px 6px;
    display: block;
    transition: 0.3s;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto; 
    padding: 0;
}
nav li {
    flex-grow: 1;
    text-align: center; 
    font-family: "Tomorrow", sans-serif;
}
nav li, .skillhead {
    border-bottom: 2px solid transparent;
}
nav li:hover, .skillhead:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.navactive {
    border-bottom: 2px solid black;
    transition: 0.3s;
}
header {
    display: flex;
    align-items: flex-end;  
    justify-content: center; 
    text-align: center;
}
#theme-toggle {
    cursor: pointer;
}
.skill, .work {
    text-align: left;
}
.skillhead, .gallery figure {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center; 
    text-align: center;
    transition: 0.3s;
}
.gallery h2 {
    min-height: 2.5em;
}
.skill img, .mywork img, .gallery img {
    max-width: 100%;
    transition: 0.3s;
}
.gallery {
    gap: 1em;
}
.skill p {
    max-height: 0px;  
    opacity: 0;  
    overflow: hidden;  
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, margin 0.3s ease-out;
    margin: 0; 
}
.skill p.active {
    max-height: 100%; 
    opacity: 1;
    margin: 10px 0; 
}
.skillhead img:hover {
    filter: brightness(80%); 
}
#toby {
    width: 60%;
    display: block;
}
#tobybg {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    background: linear-gradient(90deg, wheat, lightgreen, wheat, lightgreen, wheat);
    background-size: 200% 200%; 
    animation: gradientAnimation 2s infinite linear;
    margin: 0;
}
.mywork {
    max-width: 100%;
}
.link {
    text-decoration: none;
    color: midnightblue;
    transition: 0.3s;
    font-weight: bold;
}
.link:hover {
    color: darkgreen;
}
/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}
body.dark-mode .navactive {
    border-bottom: 2px solid white;
}
body.dark-mode nav li:hover, body.dark-mode .skillhead:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

body.dark-mode header, body.dark-mode footer {
    background: linear-gradient(90deg, midnightblue, darkgreen, midnightblue, darkgreen, midnightblue);
    background-size: 200% 200%; 
    animation: gradientAnimation 8s infinite linear;
}
body.dark-mode #tobybg {
    background: linear-gradient(90deg, rgba(165, 42, 42, 0.25), rgba(0, 100, 0, 0.25), rgba(165, 42, 42, 0.25), rgba(0, 100, 0, 0.25), rgba(165, 42, 42, 0.25));
    background-size: 200% 200%; 
    animation: gradientAnimation 2s infinite linear;
}
body.dark-mode a, body.dark-mode .intro {
    color: white;
}
body.dark-mode .skill img {
    filter: brightness(70%);
}
body.dark-mode .skillhead img:hover {
    filter: brightness(55%);
}
body.dark-mode .link {
    color: lightskyblue;
}
body.dark-mode .link:hover {
    color: lightgreen;
}



@media (min-aspect-ratio: 1/1) { /*DESKTOP STYLES*/
    #toby {
        width: 60%;
        display: block; 
        margin: 0 auto; 
    }
    .contact {
        text-align: right;
        margin-right: 1em;
    }
    .gridimg {
        width: 100%;
    }
}
@media (max-aspect-ratio: 1/1) { /*MOBILE STYLES*/
    #toby {
        width: 90%;
        display: block; 
        margin: 0 auto; 
    }
    .gridimg {
        width: 75%;
    }
}